/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
}

/* Layout */
.container{
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CAROUSEL */
.carousel{
    width: 100%;
    height: 100%;
    display: flex;
}

/* Carousel img */
.carousel-img{
    width: 80%;
}

.carousel-img .item img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.carousel-img .item{
    display: none;
}

.carousel-img .item.active{
    display: block;
}

/* Carousel Control */
.carousel-control{
    width: 20%;
    height: 100%;
    position: relative;
}

.carousel-img-control .item-control{
    width: 100%;
    height: calc(90vh / 5);
    opacity: .5;
} 

.carousel-img-control .item-control img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.item-control.active{
    opacity: 1;
    border: 2px solid #fff;
}

/* Carousel Button */
.btn{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #252525be;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
}

.btn:hover{
    background-color: #fff;
    color: #252525;
    transform: translateX(-50%) scale(1.2);
}

.btn.prev{
    top: 10px;
}

.btn.next{
    bottom: 10px;
}